CONFIG_PROJECT="sl2610"
CONFIG_BUILD_TYPE="cm52_fw"
CONFIG_BUILD_MODE="release"
CONFIG_COMPILER="gcc"
CONFIG_BOARD="sl2610_rdk"
CONFIG_SM_DDR_HEAP_SIZE=0x8000000
CONFIG_LOGGER_BAUD_RATE=57600
CONFIG_MODULE_EMMC_ENABLED=y
CONFIG_SET_EMMC_MODE=y
CONFIG_MODULE_I2C_ENABLED=y
CONFIG_MODULE_IO_EXPANDER_ENABLED=y
CONFIG_I2C_DEFAULT_SLAVE_ADDR=0x42
CONFIG_MODULE_UART_ENABLED=y
CONFIG_MODULE_UART_HIGH_BAUD_RATE=115200
CONFIG_INFRA_DMEM_ENABLED=y
CONFIG_INFRA_LOGGER_ENABLED=y
CONFIG_LOGGER_TIMEOUT_MS=10
CONFIG_LOGGER_IF_UART_0=y
CONFIG_MODULE_SYS_EVENT_ENABLED=y
CONFIG_CMSIS_FREERTOS_ENABLED=y
CONFIG_CMSIS_UNITY_ENABLED=y
CONFIG_DDR_TYPE_DDR4=y
CONFIG_DDR4_3200_2X8=y
CONFIG_DDR_TYPE=1
CONFIG_MODULE_TCA6416A_ENABLED=y
CONFIG_MODULE_FXL6408_ENABLED=y
CONFIG_SECLIB_ENABLED=y
CONFIG_FREERTOS_OS_ENABLED=y
CONFIG_RTOS_FreeRTOS_HEAP_5=y
CONFIG_DRIVER_SAMPLE_APP_ENABLED=y
CONFIG_I2C_EXP_APP=y
