CONFIG_PROJECT="sl2610"
CONFIG_BUILD_TYPE="cm52_fw"
CONFIG_BUILD_MODE="release"
CONFIG_COMPILER="gcc"
CONFIG_TOOLCHAIN="GCC.13.2.1"
CONFIG_BOARD="sl2610_pek"
CONFIG_SM_DDR_HEAP_SIZE=0x8000000
CONFIG_LOGGER_BAUD_RATE=57600
CONFIG_MODULE_EMMC_ENABLED=y
CONFIG_MODULE_UART_ENABLED=y
CONFIG_MODULE_UART_HIGH_BAUD_RATE=115200
CONFIG_INFRA_DMEM_ENABLED=y
CONFIG_INFRA_LOGGER_ENABLED=y
CONFIG_LOGGER_IF_UART_0=y
CONFIG_SERVICE_SYNA_ENABLED=y
CONFIG_MODULE_SYS_EVENT_ENABLED=y
CONFIG_CMSIS_FREERTOS_ENABLED=y
CONFIG_SECLIB_ENABLED=y
CONFIG_FREERTOS_OS_ENABLED=y
CONFIG_RTOS_FreeRTOS_HEAP_5=y
CONFIG_DRIVER_SAMPLE_APP_ENABLED=y
CONFIG_EMMC_SAMPLE_APP=y
