CONFIG_PROJECT="sl2610"
CONFIG_BUILD_TYPE="cm52_fw"
CONFIG_BUILD_MODE="release"
CONFIG_COMPILER="gcc"
CONFIG_TOOLCHAIN="GCC.13.2.1"
CONFIG_BOARD="sl2610_pek"
CONFIG_SM_DDR_HEAP_SIZE=0x8000000
CONFIG_LOGGER_BAUD_RATE=115200
CONFIG_MODULE_EMMC_ENABLED=y
CONFIG_MODULE_CACHE_ENABLED=y
CONFIG_MODULE_TIMER_ENABLED=y
CONFIG_MODULE_UART_ENABLED=y
CONFIG_MODULE_UART_HIGH_BAUD_RATE=115200
CONFIG_MODULE_SPWM_ENABLED=y
CONFIG_INFRA_DMEM_ENABLED=y
CONFIG_SERVICE_IMAGE_PARSER_ENABLED=y
CONFIG_INFRA_LOGGER_ENABLED=y
CONFIG_LOGGER_IF_UART_0=y
CONFIG_SYNA_SERVICE_ENABLED=y
CONFIG_SERVICE_SYNA_ENABLED=y
CONFIG_CMSIS_FREERTOS_ENABLED=y
CONFIG_CMSIS_UNITY_ENABLED=y
CONFIG_SECLIB_ENABLED=y
CONFIG_MODULE_XSPI_FLASH_ENABLED=y
CONFIG_MODULE_IS25WX256_ENABLED=y
CONFIG_FREERTOS_OS_ENABLED=y
CONFIG_RTOS_FreeRTOS_HEAP_5=y
CONFIG_DRIVER_SAMPLE_APP_ENABLED=y
CONFIG_SPWM_SAMPLE_APP_ENABLED=y