CONFIG_PROJECT="sl2610"
CONFIG_BUILD_TYPE="cm52_fw"
CONFIG_BUILD_MODE="release"
CONFIG_COMPILER="gcc"
CONFIG_TOOLCHAIN="GCC.13.2.1"
CONFIG_BOARD="sl2610_pek"
CONFIG_MODULE_CACHE_ENABLED=y
CONFIG_MODULE_DMA_ENABLED=y
CONFIG_MODULE_DMA_250_ENABLED=y
CONFIG_MODULE_MPU_ENABLED=y
CONFIG_MODULE_PINMUX_ENABLED=y
CONFIG_MODULE_UART_ENABLED=y
CONFIG_MODULE_UART_HIGH_BAUD_RATE=115200
CONFIG_MODULE_UART_LOW_BAUD_RATE=115200
CONFIG_INFRA_DMEM_ENABLED=y
CONFIG_INFRA_LOGGER_ENABLED=y
CONFIG_LOGGER_IF_UART_0=y
CONFIG_RTOS_FreeRTOS_HEAP_5=y
CONFIG_SECLIB_ENABLED=y
CONFIG_DRIVER_SAMPLE_APP_ENABLED=y
CONFIG_DMA_SAMPLE_APP_ENABLED=y
