config DRIVER_SAMPLE_APP_ENABLED
    bool "DRIVER_SAMPLE_APP_ENABLED"
    help
        This option selects driver sample application.

if DRIVER_SAMPLE_APP_ENABLED

choice
    prompt "Examples Drivers"
    optional
    help
        Select the driver example

        Available driver sample apps
            1. dma sample app

rsource "./*/kconfig"

endchoice

endif
